.myBG {
  height: 100vh;
  background-color: rgb(223, 228, 220);
}

.intro {
  height: 250px;
  background: rgb(144, 165, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
}

/* .carousel-inner img {
  max-width: 100%;
  height: 100%;
} */

.carousel-item img {
  width: auto;
  height: 550px;
  padding: 0 50px;
}

.wanita {
  height: auto;
  background-color: rgb(223, 228, 220);
}

.fst-italic {
  font-size: 3rem;
}

.bannerWanita {
  height: 300px;
  background: rgb(144, 165, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  border-radius: 50px;
}

.girlsImg {
  height: auto;
  padding: 5px;
  margin: 5px;
}

.pria {
  height: auto;
  background-color: rgb(223, 228, 220);
}

.bannerPria {
  height: 300px;
  background: rgb(144, 165, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  border-radius: 50px;
}

.footer-container {
  background-color: rgb(153, 149, 149);
  padding-bottom: 3rem;
  /* position: absolute; */
  margin-top: 50px;
  width: 100vw;
}

.footer {
  position: sticky;
  top: 100%;
  height: 8vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text p {
  margin: 15px 15px;
  font-size: smaller;
  color: rgb(210, 210, 210);
  text-align: center;
  padding-top: 3rem;
}
